*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    background-color: black;
}

/*header*/

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.124rem;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: aquamarine;
    text-transform: capitalize;
    margin-top: 1.5rem;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
}

/*headbanner*/
#headbanner {
    background-color: black;
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

#headbanner video {
    border: none;
}

/*tagline*/
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3125rem;
    color: gray;
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    padding: 3rem;
}

#Tagline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#recallaction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box img {
    margin-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    background-color:black;
    margin-top: 1rem;
    align-items: center;
    padding-right: 1rem;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: white;
    font-weight: 200;
}

i {
    color: white;
    margin-right: 0.2rem;
}